@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 100%;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
    min-height:100%;
}

section {
  display: none;
  padding: 30px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}


label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: 'About'; }
label[for*='2']:before { content: 'Front End Projects'; }
label[for*='3']:before { content: 'Back End Projects'; }
label[for*='4']:before { content: 'Contacts'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.icon-bar {
    width:100%;
    background-color: #55;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 15.5%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 35px;
}

.icon-bar a:hover {
    background-color:aqua;
}
.icon-bars a {
  float: left;
  width: 25.5%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: purple;
  font-size: 19px;
}

.icon-bars {
    width:100%;
    background-color: #55;
    overflow: auto;
  }
  .icon-bars a:hover {
      background-color:aqua;
  }
